In [25]:
import pickle

with open('variables.pkl', 'rb') as f:
    df_21, df_20, df_4, df_5, df_6, df_7, df_11, df_16, df_12, df_17 = pickle.load(f)

Numero de turistas por provincia año 2016-2022

In [26]:
df_20.head()

,Total,Tasa de variación anual,Andalucía,Tasa de variación anual,Aragón,Tasa de variación anual,"Asturias, Principado de",Tasa de variación anual,"Balears, Illes",Tasa de variación anual,...,"Navarra, Comunidad Foral de",Tasa de variación anual,País Vasco,Tasa de variación anual,"Rioja, La",Tasa de variación anual,Ceuta,Tasa de variación anual,Melilla,Tasa de variación anual
2022,71659281,129.82,10009890,135.62,385175,78.42,277267,71.72,13203885,108.77,...,273406,121.18,1545013,131.05,105910,121.05,35937,179,25224,..
2021,31180802,64.69,4248340,57.31,215884,25.45,161462,75.08,6324711,267.48,...,123614,-15.52,668683,26.82,47913,5.64,3942,..,8918,..
2020,18933103,-77.33,2700613,-77.54,172084,-68.41,92222,-70.99,1721123,-87.42,...,146325,-64.75,527286,-67.28,45355,-67.49,,,,
2019,83509153,0.85,12023153,2.93,544761,-0.14,317860,6.18,13679781,-1.24,...,415054,28.21,1611280,3.79,139497,-2.4,,,,
2018,82808413,1.15,11681256,1.42,545530,-2.99,299357,1.78,13851598,0.43,...,323730,-2.88,1552389,2.48,142926,15.09,,,,

Precio de la vivienda alquiler y compra en Euskadi

In [8]:
df_4.head()

,Mes,Precio m2,Variación mensual,Variación trimestral,Variación anual
0,Febrero 2023,"12,8 €/m2","+ 0,1 %","+ 1,4 %","+ 5,4 %"
1,Enero 2023,"12,8 €/m2","+ 0,6 %","+ 1,8 %","+ 5,1 %"
2,Diciembre 2022,"12,8 €/m2","+ 0,8 %","+ 1,2 %","+ 4,5 %"
3,Noviembre 2022,"12,7 €/m2","+ 0,5 %","+ 1,4 %","+ 2,1 %"
4,Octubre 2022,"12,6 €/m2","0,0 %","+ 1,6 %","+ 1,4 %"

In [9]:
df_5.head()

,Mes,Precio m2,Variación mensual,Variación trimestral,Variación anual
0,Febrero 2023,2.803 €/m2,"+ 0,6 %","+ 0,5 %","+ 4,1 %"
1,Enero 2023,2.787 €/m2,"+ 0,1 %","+ 0,1 %","+ 3,0 %"
2,Diciembre 2022,2.783 €/m2,"- 0,2 %","+ 1,2 %","+ 2,8 %"
3,Noviembre 2022,2.788 €/m2,"+ 0,1 %","+ 2,0 %","+ 3,6 %"
4,Octubre 2022,2.785 €/m2,"+ 1,3 %","+ 2,0 %","+ 3,8 %"

Precio de la vivienda alquiler y compra en Madrid

In [11]:
df_6.head()

,Mes,Precio m2,Variación mensual,Variación trimestral,Variación anual
0,Febrero 2023,3.995 €/m2,"+ 1,7 %","+ 0,5 %","+ 6,1 %"
1,Enero 2023,3.929 €/m2,"- 0,3 %","- 1,1 %","+ 4,9 %"
2,Diciembre 2022,3.939 €/m2,"- 0,9 %","- 1,3 %","+ 6,5 %"
3,Noviembre 2022,3.973 €/m2,"0,0 %","0,0 %","+ 8,2 %"
4,Octubre 2022,3.974 €/m2,"- 0,5 %","+ 1,9 %","+ 7,9 %"

In [13]:
df_7.head()

,Mes,Precio m2,Variación mensual,Variación trimestral,Variación anual
0,Febrero 2023,"16,6 €/m2","+ 0,5 %","+ 2,5 %","+ 10,9 %"
1,Enero 2023,"16,5 €/m2","+ 2,0 %","+ 1,3 %","+ 12,3 %"
2,Diciembre 2022,"16,2 €/m2","0,0 %","- 0,8 %","+ 11,2 %"
3,Noviembre 2022,"16,2 €/m2","- 0,7 %","+ 0,6 %","+ 10,7 %"
4,Octubre 2022,"16,3 €/m2","- 0,1 %","+ 2,6 %","+ 10,4 %"

Pernoctaciones y grados de ocupación en establecimientos hoteleros, categoría, día de la semana y periodo

In [14]:
df_11.head()

Semana    Total -Laborables -Fin de semana
2011-01  120035       75258          44777
2011-02  140090       80002          60088
2011-03  177734      107670          70064
2011-04  218319      122848          95471
2011-05  207706      133278          74428

In [ ]:
# Fin de semana son dos dias, laborables 5

Entradas, pernoctaciones, estancia media y grado de ocupación por plazas en los establecimientos hoteleros, alojamientos rurales y apartamentos turísticos de la C.A. de Euskadi por variable, territorio histórico y periodo

In [15]:
df_16.head()

nan,Entradas,NaN,NaN,NaN,Pernoctaciones,NaN,NaN,NaN,Estancia media,NaN,NaN,NaN
2016-01,148816,22388,66201,60228,273764,43604,121233,108928,1.84,1.95,1.83,1.81
2016-02,171511,22996,82009,66506,310728,45966,148425,116337,1.81,2,1.81,1.75
2016-03,223501,31487,103151,88863,438115,64116,196669,177330,1.96,2.04,1.91,2
2016-04,236863,30551,113251,93061,433356,55280,206875,171200,1.83,1.81,1.83,1.84
2016-05,279835,37329,126187,116319,542821,70860,247965,223996,1.94,1.9,1.97,1.93

Evolucion del paro por sectores

In [16]:
df_12.head()

            AGRICULTURA  INDUSTRIA  CONSTRUCCIÓN  SERVICIOS
Unnamed: 1
2014-01-01     208174.0   512531.0      649211.0  3071282.0
2014-02-01     216083.0   507583.0      643061.0  3067530.0
2014-03-01     230937.0   502018.0      629169.0  3046322.0
2014-04-01     224699.0   493736.0      617966.0  2961616.0
2014-05-01     215807.0   479471.0      593772.0  2896348.0

In [ ]:
# from matplotlib import pyplot as plt


# df_12[['AGRICULTURA', 'INDUSTRIA', 'CONSTRUCCIÓN', 'SERVICIOS', 'SIN EMPLEO ANT.']].plot(kind='line')
# plt.xlabel('Fecha')

In [ ]:
# std = df_12.std()

# # obtiene el índice de la columna con la mayor desviación estándar
# columna_con_max_variacion = std.idxmax()

# # muestra el nombre de la columna con la mayor variación
# print('La columna con la mayor variación es:', columna_con_max_variacion)

Para determinar los sectores más estables, es necesario calcular la variación porcentual o el cambio porcentual en el número de empleos en cada sector durante el período de tiempo considerado. Los sectores con una variación porcentual más baja o un cambio porcentual más estable se consideran los más estables.
Este código calcula la variación porcentual en cada sector entre enero de 2014 y febrero de 2023, y luego ordena los sectores de manera ascendente según su variación porcentual. Los sectores con una variación porcentual más baja o un cambio porcentual más estable se mostrarán primero.

Ten en cuenta que este enfoque asume que la evolución del empleo en cada sector ha sido constante y lineal a lo largo del tiempo, lo cual puede no ser el caso en la realidad. Por lo tanto, es posible que desees considerar otras medidas de estabilidad, como la variabilidad o la tasa de crecimiento promedio, en lugar de la variación porcentual en un período de tiempo específico.

In [ ]:
# Calcular la variación porcentual entre la primera y la última fila
var_perc = (df_12.iloc[-1, :] - df_12.iloc[0, :]) / df_12.iloc[0, :] * 100

# Ordenar los sectores de manera ascendente según su variación porcentual
var_perc_sorted = var_perc.sort_values(ascending=True)

# Mostrar los resultados
print(var_perc_sorted)

Para considerar otras medidas de estabilidad, como la variabilidad o la tasa de crecimiento promedio, puedes utilizar otras funciones estadísticas en lugar de la variación porcentual que calculamos en el ejemplo anterior.

Por ejemplo, la variabilidad se puede medir mediante la desviación estándar o la varianza de los valores de empleo en cada sector. Los sectores con una desviación estándar o una varianza más baja tendrán una evolución del empleo más estable.
Este código calcula la desviación estándar de los valores de empleo en cada sector y ordena los sectores de manera ascendente según su desviación estándar. Los sectores con una desviación estándar más baja tendrán una evolución del empleo más estable.

De manera similar, puedes calcular la tasa de crecimiento promedio para cada sector durante el período de tiempo considerado y ordenar los sectores según su tasa de crecimiento promedio. La tasa de crecimiento promedio se puede calcular como la tasa de crecimiento geométrico o como la tasa de crecimiento aritmético, dependiendo de tus necesidades y preferencias. Aquí te muestro un ejemplo de cómo puedes calcular la tasa de crecimiento aritmético y ordenar los sectores.

In [ ]:
# Calcular la desviación estándar de los valores de empleo en cada sector
std_dev = df_12.std(axis=0)

# Ordenar los sectores de manera ascendente según su desviación estándar
std_dev_sorted = std_dev.sort_values(ascending=True)

# Mostrar los resultados
print(std_dev_sorted)

In [ ]:
import matplotlib.pyplot as plt
variance = df_12.var()

# Crear un gráfico de barras que muestra la varianza de los valores de empleo en cada sector
plt.bar(variance.index, variance.values)
plt.xlabel('Sector')
plt.ylabel('Varianza')
plt.title('Varianza del empleo por sector')
plt.show()

Contaminacion de CO2 por vuelos comerciales

In [17]:
df_17.head()

,LOCATION,Country,POLLUTANT,Pollutant,MEASURE,Measure,FLIGHT,Flight type,FREQUENCY,Frequency,SOURCE,Source of emissions,SEASONALITY,Seasonality,TIME,Time,Value,Flag Codes,Flags
0,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2014,2014,7.509847e+06,NaN,NaN
1,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2015,2015,7.351698e+06,NaN,NaN
2,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2016,2016,7.415273e+06,NaN,NaN
3,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2017,2017,7.333902e+06,NaN,NaN
4,AUS,Australia,CO2,Carbon dioxide,TCO2,tonnes of CO2-equivalent,TOTAL,All flights,A,Annual,RES_DOM_IN,"""(A) - Domestic flight in country A, operated ...",NSA,Non seasonally adjusted,2018,2018,7.320473e+06,NaN,NaN

In [ ]:
# co_spain = df_17.loc[df_17['Country'] == 'Spain']
#falta filtrar por passenger flight
# co_spain

Concentracion de CO2 en la atmosfera

In [20]:
df_21.head()

              Periodo     CO2     Var %  Subida  Bajada
Año
1991-01-01  Noviembre  354.95       NaN   False   False
1991-01-01  Diciembre  356.42  0.414143    True   False
1992-01-01      Enero  356.73  0.086976    True   False
1992-01-01    Febrero  356.89  0.044852    True   False
1992-01-01      Marzo  357.68  0.221357    True   False

In [22]:
#volver a calcular esto
# df_21['Var %'] = df_21['CO2'].pct_change() * 100

# # Marcar los períodos de subida y bajada
# df_21['Subida'] = df_21['Var %'] > 0
# df_21['Bajada'] = df_21['Var %'] < 0

# # Mostrar los períodos de subida y bajada
# print('Períodos de subida:')
# print(df_21[df_21['Subida']])

# print('\nPeríodos de bajada:')
# print(df_21[df_21['Bajada']])